section.about
    .container.about--wrapper
        .about__img
        .about__description.profile
            h2.title.profile__title This is #[b(class="insert") qmpwwsd]
            p.profile__description. 
                Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Наш встретил решила скатился дал буквенных однажды страна там. Букв ты реторический залетают толку заглавных агентство семь рекламных над дорогу!
            a.hero__link.link Read more
section.more-about
    .container.more-about--wrapper
        h2.title.more-about__title Details about #[b(class="insert") qmpwwsd]
        p.more-about__description. 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam nobis esse, officiis laborum reprehenderit distinctio.
        .more-about__img
