section.hero
     .container.hero--wrapper
          h1.hero__title .qmpwwsd<b class="insert">studio</b>
          //- p.hero__description. 
          //-      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ex ipsam natus nostrum odit sunt voluptatem. Accusantium, adipisci labore? Quibusdam.
          //- a.hero__link.link Read more
