section.portfolio
    h2.portfolio__title Works
    .portfolio__works.works
        - for (var i = 1; i < 10; i++)
            .works__item(class=`work-${i}`)
                h3.work__title Lorem, ipsum.
                p.work__description Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты.
