section.services
    .container.services--wrapper
        h2.title.services__title Services
        ul.services__box.box-group
            each item in servicesItems
                li.box-group__item
                    span.box-group__icon
                    h3.box-group__caption #{item}